---
layout: default
title: "Research"
nav: "research"
---
<h1>Research</h1><p><b>Citations</b><br/>
Like many Dutch names, my surname consists of two words: 'De Heide'. The article 'De' is capitalised, except when directly preceded by a given name or initials. Although 'De' always precedes 'Heide', in an alphabetical list, my name should be listed according to 'Heide' only. Citing a paper of mine should thus look like 'De Heide (2020)'.</p>
<p class="topic-jump"><a href="{{ '/all-publications.html' | relative_url }}"><b>All publications, chronologically</b></a></p>
{% for topic in site.data.research_topics %}
<h2 id="{{ topic.id }}">{{ topic.title }}</h2>
<ul class="publication-list">
  {% for item in site.data.research_items %}
    {% if item.topics contains topic.id %}
      <li>{{ item.html }}</li>
    {% endif %}
  {% endfor %}
</ul>
{% endfor %}
