<div id="toptitle">
<h1>Activities, software, background and more</h1>
</div>
<p>See also: <a href="{{ '/media.html' | relative_url }}">Media &amp; interviews</a> &nbsp;·&nbsp; <a href="https://sites.google.com/view/kindness-and-excellence" target="_blank">Kindness &amp; Excellence</a>.</p>
<h2>Research visits</h2>
<ul>
<li><p>KU Leuven, April 2026</p>
</li>
<li><p>University Pompeu Fabra in Barcelona, November 2025</p>
</li>
<li><p>University of Bremen (visiting Thorsten Dickhaus), May 2023</p>
</li>
<li><p>LMU Munich (visiting Thomas Augustin), January 2023</p>
</li>
<li><p>Otto von Güricke Universität Magdeburg (visiting Alexandra Carpentier), October-December 2020</p>
</li>
<li><p>University of Copenhagen (visiting Sadegh Talebi), August 2020</p>
</li>
<li><p>University of Alberta, Edmonton (visiting Csaba Szepesvári), February 2020</p>
</li>
<li><p>Otto von Guericke Universität Magdeburg (visiting Alexandra Carpentier), November 2019</p>
</li>
<li><p>SequeL, Inria Lille (visiting Emilie Kaufmann and Michal Valko), April-August 2019</p>
</li>
</ul>
<h2>Software</h2>
<ul>
<li><p><a href="https://CRAN.R-project.org/package=SafeBayes" target="_blank">R Package SafeBayes</a> <br/>
Rianne de Heide, 2016</p>
</li>
</ul>
<h2>Previously</h2>
<p>My PhD research was carried out at the <a href="https://www.cwi.nl" target="_blank">Centrum Wiskunde &amp; Informatica</a> (CWI, the national research institute for mathematics and computer science in the Netherlands), in the <a href="https://www.cwi.nl/research/groups/machine-learning" target="_blank">Machine Learning group</a>, under supervision of <a href="http://www.grunwald.nl" target="_blank">Peter Grünwald</a>. This work resulted in my dissertation <a href="https://hdl.handle.net/1887/3134738" target="_blank">Bayesian Learning: Challenges, Limitations and Pragmatics</a>, which got me my PhD from Leiden University. My promotores were <a href="http://www.grunwald.nl" target="_blank">Peter Grünwald</a> and <a href="https://nl.wikipedia.org/wiki/Jacqueline_Meulman" target="_blank">Jacqueline Meulman</a>, and my co-promotor was <a href="http://wouterkoolen.info" target="_blank">Wouter Koolen</a>. My PhD position was funded by the Leiden IBM-SPSS fund.<br/></p>
<p>After my PhD I was a visiting postdoc for 6 months at the <a href="https://www.math.ovgu.de/Institute/IMST.html" target="_blank">Institut für Mathematische Stochastik (IMST)</a>,  <a href="https://www.math.ovgu.de" target="_blank">Fakultät für Mathematik (FMA)</a> in the <a href="https://www.ovgu.de" target="_blank">Otto von Guericke Universität in Magdeburg</a>, where I worked with <a href="https://sites.google.com/site/alexandracarpentierresearch/home" target="_blank">Alexandra Carpentier</a>. My position was funded by the Leiden IBM-SPSS fund, hence my affiliation with Leiden University, where I (remotely) worked with <a href="https://www.math.leidenuniv.nl/~jmeulman/" target="_blank">Jacqueline Meulman</a> on the IBM-SPSS project. <br/></p>
<p>After that, I was a postdoc for two months at <a href="https://www.inria.fr/en/centre-inria-lille-nord-europe" target="_blank">INRIA Lille - Nord Europe</a>, before continuing there on my own <b><a href="https://www.nwo.nl/en/researchprogrammes/rubicon/awarded-grants/2020" target="_blank">Rubicon grant</a></b> from the <a href="https://www.nwo.nl/en" target="_blank">Dutch Research Council</a>. I was part of the <a href="https://team.inria.fr/scool/" target="_blank">SCOOL</a> research group, where I worked with <a href="http://chercheurs.lille.inria.fr/ekaufman/" target="_blank">Emilie Kaufmann</a>; and a guest researcher at <a href="https://www.cwi.nl" target="_blank">CWI</a>, the Dutch national research institute for mathematics and computer science. <br/></p>
<p>In March 2022 I joined the <a href="https://vu.nl/en/about-vu/faculties/faculty-of-science/departments/mathematics" target="_blank">Vrije Universiteit Amsterdam</a> as an assistant professor. In September 2024 I moved to the <a href="https://www.utwente.nl" target="_blank">University of Twente</a> as an assistant professor, and got promoted to associate professor in September 2025.</p>
<p>Until August 2020 I was a board member of the <a href="http://www.ewmnetherlands.nl" target="_blank">European Women in Mathematics – The Netherlands</a>, the Dutch association of women professional mathematicians. <br/></p>
<p>Until January 2019 I worked one day a week at Leiden University with <a href="http://www.math.leidenuniv.nl/~jmeulman" target="_blank">Jacqueline Meulman</a> as coordinator of the MSc programme Statistical Science.<br/></p>
<p>I obtained a <b>BSc in Mathematics</b> from the University of Groningen and a <b>MSc in Mathematics</b> <i>cum laude</i> (with honours) from Leiden University. I also hold a <b>Bachelor of Music</b> from the Prins Claus Conservatoire and a <b>Master of Music</b> from the Royal Conservatory of The Hague, both in Classical music - Horn.</p>
<h2>Distractions</h2>
<p>I like triathlon, running, learning languages and classical music. I'm a contralto, and have sung for years in the <a href="http://vukk.nl" target="_blank">VU-Kamerkoor</a> and many side-projects. I also play classical percussion in several orchestra's.</p>
<div id="text-img-container"><div id="img-container">
<a href="Rianne3.jpg"><img class="content-photo" alt="Posters" src="{{ '/assets/images/about.jpg' | relative_url }}"/></a></div>
<div id="text-container"></div></div>
