<div id="toptitle">
<h1>About</h1>
</div>
<p>See also: <a href="{{ '/short-cv.html' | relative_url }}">Short CV</a> &nbsp;·&nbsp; <a href="{{ '/media.html' | relative_url }}">Media &amp; interviews</a> &nbsp;·&nbsp; <a href="https://sites.google.com/view/kindness-and-excellence" target="_blank">Kindness &amp; Excellence</a>.</p>

<h2>Distractions</h2>
<p>I like triathlon, running, learning languages and classical music. I'm a contralto, and have sung for years in the <a href="http://vukk.nl" target="_blank">VU-Kamerkoor</a> and many side-projects. I also play classical percussion in several orchestras.</p>
<div id="text-img-container"><div id="img-container">
<a href="Rianne3.jpg"><img class="content-photo" alt="Rianne de Heide" src="{{ '/assets/images/about.jpg' | relative_url }}"/></a></div>
<div id="text-container"></div></div>
